.nav-btn {
  padding: 7px 22.5px 7px 22.5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}

.nv-main {
  top: 0;
  position: sticky;
  z-index: 1000;
  // background: #b1b1b1;
  border-bottom: 1px solid #ccc;
}

li {
  list-style: none;
}

.navbar {
  justify-content: space-between;
  background-color: white;
}

.user {
  font-size: 19px;
  font-weight: bold;
  color: black;
  background: lightgrey;
  border-radius: 30%;
  height: 45px;
  align-items: center;
  display: flex;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

::ng-deep .mat-form-field {
  color: #000000;
  width: 100%;
}

.urlBlock{
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 20px;
  ::ng-deep .mat-form-field {
      width:100%;
  }
}

.userBlock{
  margin-top: 20px;
  font-size: 13px;
  margin-left: -4px;
  ::ng-deep .mat-form-field {
    width:100%;
}
}

.hideEyeImg{
  position: absolute;
  left: 90%;
  bottom: 7px;
  cursor: pointer;
}

.showEyeImg{
  position: absolute;
  left: 90%;
  bottom: 10px;
  cursor: pointer;
}

::ng-deep .mat-menu-item{
  line-height: 35px !important;
    height: 34px !important;
}

button.mat-menu-item{
  font-weight: 800;
}

.verizon-logo{
  align-items: center;
}

.right-arrow-rounded{
  align-items: center;
  .right-arrow{
    border: 1px solid #C5C5C5;
    border-radius: 40px;
    height:80px; 
    width: 80px;
    align-items: center;
    cursor: pointer;
  }
  .forward-arrow{
    background: #EC1F25;
    border: 1px solid #EC1F25;
    border-radius: 40px;
    height:80px; 
    width: 80px;
    align-items: center;
    cursor: pointer;
  }
}

.topic-conf{
  align-items: center;
}

.down-arrow{
  position: absolute;
  height: 32px;
  width: 42px;
  right: 5%;
  bottom: -14%;
  background: #FFFFFF;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.up-arrow{
  position: absolute;
  height: 32px;
  width: 42px;
  right: 5%;
  bottom: -195%;
  background: #FFFFFF;
  border-radius: 0px 0px 8px 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.user-header{
  background: #000000;
  justify-content: space-between;
  height: 61px;
  position: absolute;
  top: 100%;
  width: 101%;
  z-index: 999;
}

.disconnect{
  background: #EC1F25;
  border: 1px solid #EC1F25;
  border-radius: 40px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px;
  font-size: 14px;
}

.openArrow{
  transform: rotate(180deg);
}