apiVersion: apps/v1
kind: Deployment
metadata:
  name: hum-ui
  labels:
    app: hum-ui
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hum-ui
  template:
    metadata:
      labels:
        app: hum-ui
    spec:
      containers:
      - name: hum-server-portal
        image: tarankapoor/frontendverizon:latest
        imagePullPolicy: Always
        resources: {}
        ports:
        - containerPort: 80
