apiVersion: v1
kind: Service
metadata:
  name: {{ include "vrsufrontend.fullname" . }}
  labels:
    {{- include "vrsufrontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      nodePort: {{ .Values.service.targetnodePort }}
      protocol: TCP
      name: http
  selector:
    {{- include "vrsufrontend.selectorLabels" . | nindent 4 }}
