.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(247, 255, 255);
    max-width: 100vw;
    position: relative;

    .loginImg {
        position: absolute;
        left: 235px;
    }

    .loginForm {
        position: absolute;
        left: 842px;

        ::ng-deep .mat-form-field {
            width: 270px;
        }
    }

    .btnSubmit {
        width: 130px;
        height: 50px;
        background: #000000;
        border-radius: 100px;
        padding: 1.5%;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 14px;
    }

    .ForgetPwd {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }

    .eyeImg {
        position: absolute;
        bottom: 12px;
        cursor: pointer;
        right: 2%;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}


::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.286);
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}